* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
	font-family: sans-serif; 
	-ms-text-size-adjust: 100%; 
	-webkit-text-size-adjust: 100%; 
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	height: 100%;
}

body {
    background-color: #FAFAFA;
    color: #212121;
    font-size: 13px;
    font-family: 'Roboto', 'Arial', sans-serif;
    height: 100%;
    line-height: 24px;
    min-height: 100%;
    transition: margin-right .2s linear;
}

p {
    margin: 0 0 10px;
}

.under-construction {
	display: table;
	height: 100%;
	width: 100%;
}

.under-construction-top {
	background-color: #fff;	
	display: table-row;
	text-align: center;
	
}
.under-construction-top h1 {
    color: #03A9F4;
    font-size: 74px;
    font-weight: 300;
    line-height: 100px;
    margin: 60px 0px;
    text-transform: uppercase;
}

.under-construction-top-inner {
    border-bottom: 1px solid #EEEEEE;
    display: table-cell;
    vertical-align: bottom;
}

.under-construction-bottom {
    background-color: #FAFAFA;
    color: #9E9E9E;
    display: table-row;
    font-size: 30px;
}	

.under-construction-bottom-inner {
    background-image: url("./img/map.png");
    display: table-cell;
    line-height: 1.35;
    padding: 60px 0px;
    text-align: center;
    vertical-align: top;
}
